<html>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
	<script language="JavaScript" type="text/javascript" src="static/js/first.js"></script>
	<link href='static/css/first.css' rel='stylesheet'>
		<title>第一步</title>
		<body>
			<div class='container'>
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<h1 class='text-center'>1/2</h1>
						</div>
						<p id='content' class='text-center'>进入虾米个人主页，按照以下格式复制地址</p>
						<p id='content' class='text-center'>(注意是个人主页，不是虾米主页)</p>
						<div class="control-group">
							<div class="controls ">
								<input class="input-xlarge focused " id="focusedInput" type="text" placeholder="http://www.xiami.com/u/...?spm=a1z1s.6928797.1561534497.1.Btn5m">
							</div>
						</div>
						<div class="control-group">
						</div>
						<div class= "span4 offset5">
							<div class="control-group">
								<button class='btn btn-success btn-default btn-large'  type='button' >继续</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</body>
	</html>